<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />

    <title>Hot Deal</title>

    <style>
        * {
            font-family: "Gowun Batang", serif;
            color: black;
        }

        body {
            /* background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                url("https://cdn.aitimes.com/news/photo/202010/132592_129694_3139.jpg");
            background-position: center;
            background-size: cover; */
        }

        h1 {
            font-weight: bold;
        }

        .order {
            width: 700px;
            margin: 60px auto 0px auto;
            padding-bottom: 60px;
        }

        .mybtn {
            width: 100%;
        }

        .order>table {
            margin: 40px 0;
            font-size: 18px;
        }

        option {
            color: black;
        }
    </style>
    <script>
        $(document).ready(function () {
            show_order();
            set_main_category();
        });
        function show_order() {
            $('#product-list').empty()
            $.ajax({
                url: '/products',
                method: 'GET',
                data: {
                    minPrice: $('#minPrice').val(),
                    maxPrice: $('#maxPrice').val(),
                    mainCategory: $('#main-category').val(),
                    subCategory: $('#sub-category').val()
                },
                success: function (posts) {
                    console.log(posts);
                    // TODO : 게시글 목록을 처리하는 로직 작성
                    let num = 1;
                    posts.forEach((post) => {
                        let productName = post["productName"];
                        let price = post["price"];
                        let temp_html = `<tr>
                                            <td>${num++}</td>
                                            <td>${productName}</td>
                                            <td>${price}</td>
                                        </tr>`
                        $('#product-list').append(temp_html);
                    })
                },
                error: function (xhr, status, error) {
                    // 요청이 실패한 경우에 대한 처리
                    console.error('Request failed. Status:', status);
                },
            });
        }
        function set_main_category() {
            let mainCategories = ["상의", "아우터", "바지", "원피스", 
                                "스커트", "스니커즈", "신발", "가방", "여성 가방", 
                                "스포츠/용품", "모자", "양말/레그웨어", "속옷", "선글라스/안경테",
                                "액세서리", "시계", "주얼리", "뷰티", "디지털/테크",
                                "리빙", "컬처", "반려동물"]
            mainCategories.forEach((mainCategory) => {
                let temp_html = `<option value=${mainCategory}>${mainCategory}</option>`
                $('#main-category').append(temp_html)
            });
        }
        function set_sub_category(mainCategory) {
            $('#sub-category').empty();
            $('#sub-category').append(`<option value = "" selected>전체 선택</option>`)
            let subCategories = [];
            switch (mainCategory) {
                case "상의":
                    subCategories = ["니트/스웨터", "피케/카라 티셔츠", "후드 티셔츠", "반소매 티셔츠", "맨투맨/스웨트셔츠",
                                    "민소매 티셔츠", "긴소매 티셔츠", "스포스 상의", "셔츠/블라우스", "기타 상의"]
                    break;
                case "아우터":
                    subCategories = ["후드 집업", "환절기 코트", "블루종/MA-1", "겨울 싱글 코트", "레더/라이더스 재킷",
                                    "겨울 더블 코트", "무스탕/퍼", "겨울 기타 코트", "트러커 재킷", "롱패딩/롱헤비 아우터",
                                    "슈트/블레이저 재킷", "숏패딩/숏헤비 아우터", "카디건", "패딩 베스트", "아노락 재킷",
                                    "베스트", "플리스/뽀글이", "사파리/헌팅 재킷", "트레이닝 재킷", "나일론/코치 재킷",
                                    "스타디움 재킷", "기타 아우터"]
                    break;
                case "바지":
                    subCategories = ["데님 팬츠", "코튼 팬츠", "슈트 팬츠/슬랙스", "트레이닝/조거 팬츠", "숏 팬츠",
                                    "레깅스", "점프 슈트/오버올", "스포츠 하의", "기타 바지"]
                    break;
                case "원피스":
                    subCategories = ["미니 원피스", "미디 원피스", "맥시 원피스"]
                    break;
                case "스커트":
                    subCategories = ["미니스커트", "미디스커트", "롱스커트"]
                    break;
                case "스니커즈":
                    subCategories = ["캔버스/단화", "패션스니커즈화", "스포츠 스니커즈", "기타 스니커즈"]
                    break;
                case "신발":
                    subCategories = ["구두", "로퍼", "힐/펌프스", "플랫 슈즈", "블로퍼",
                                    "샌들", "슬리퍼", "기타 신발", "모카신/보트 슈즈", "부츠",
                                    "신발 용품"]
                    break;
                case "가방":
                    subCategories = ["백팩", "메신저/크로스 백", "숄더백", "토트백", "에코백",
                                    "보스턴/드럼/더플백", "웨이스트 백", "파우치 백", "브리프케이스", "캐리어" ,
                                    "가방 소품", "지갑/머니클립", "클러치 백"]
                    break;
                case "여성 가방":
                    subCategories = ["크로스백", "토트백", "숄더백", "클러치 백", "파우치 백",
                                    "백팩", "웨이스트 백", "지갑/머니클립", "가방 소품"]
                    break;
                case "스포츠/용품":
                    subCategories = ["상의", "하의", "아우터", "스커트", "원피스",
                                    "상하의세트", "수영복/비치웨어", "스포츠신발", "기구/용품/장비", "스포츠가방",
                                    "스포츠잡화", "스포츠모자", "캠핑용품", "낚시용품"]
                    break;
                case "모자":
                    subCategories = ["캡/야구 모자", "헌팅캡/베레모", "페도라", "버킷/사파리햇", "비니",
                                    "트루퍼", "기타 모자"]
                    break;
                case "양말/레그웨어":
                    subCategories = ["양말", "스타킹"]
                    break;
                case "속옷":
                    subCategories = ["여성 속옷 상의", "여성 속옷 하의", "여성 속옷 세트", "남성 속옷", "홈웨어"]
                    break;
                case "선글라스/안경테":
                    subCategories = ["안경", "선글라스", "안경 소품"]
                    break;
                case "액세서리":
                    subCategories = ["마스크", "키링/키케이스", "벨트", "넥타이", "머플러",
                                    "스카프/반다나", "장갑", "기타 액세서리"]
                    break;
                case "시계":
                    subCategories = ["디지털", "쿼츠 아날로그", "오토매틱 아날로그", "시계 용품", "기타 시계"]
                    break;
                case "주얼리":
                    subCategories = ["팔찌", "반지", "목걸이/펜던트", "귀걸이", "발찌",
                                    "브로치/배지", "헤어 액세서리"]
                    break;
                case "뷰티":
                    subCategories = ["스킨케어", "클렌징", "베이스 메이크업", "포인트 메이크업", "바디케어", 
                                    "쉐이빙/제모", "헤어케어", "향수/탈취", "뷰티 디바이스", "다이어트/헬스", 
                                    "미용 소품", "덴탈케어"]
                    break;
                case "디지털/테크":
                    subCategories = ["음향가전", "휴대폰", "스마트기기", "태블릿", "TV/영상가전", 
                                    "컴퓨터", "카메라", "생활가전", "주방가전", "계절가전", 
                                    "차량용 디지털", "게임", "기타 디지털/테크"]
                                    break;
                case "리빙":
                    subCategories = ["가구", "조명", "침구", "홈패브릭", "홈인테리어", 
                                    "주방용품", "생활용품", "욕실용품", "사무용품", "기타 라이프"]
                    break;
                case "컬처":
                    subCategories = [ "티켓", "도서/음반", "취미", "아트", "기타 컬처"]
                    break;
                case "반려동물":
                    subCategories = ["반려동물 의류", "반려동물 잡화", "반려동물 용품", "반려동물 푸드"]
                    break;
            }
            subCategories.forEach((subCategory) => {
                let temp_html = `<option value=${subCategory.replace(" ", "&nbsp")}>${subCategory.replace(" ", "&nbsp")}</option>`
                $('#sub-category').append(temp_html)
            });
        }
    </script>
</head>

<body>
    <div class="mask"></div>
    <div class="order">
        <h1>Hot Deal</h1>
        <br>
        <h3>카테고리 필터</h3>
        <p>
            필터 조건이 없을 경우, 전날 판매 실적 기준 상위 90개의 상품이 노출됩니다
        </p>
        <div class="order-info">
            <div class="input-group mb-3">
                <label class="input-group-text" for="main-category">품목</label>
                <select onchange="set_sub_category(this.value)" class="form-select" id="main-category">
                    <option value = "" selected>전체 선택</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="sub-category">상세</label>
                <select class="form-select" id="sub-category">
                    <option value = "" selected>전체 선택</option>
                </select>
            </div>

            <br>
            <h3>가격대 필터</h3>
            <p></p>
            <div class="input-group mb-3">
                <span class="input-group-text">최소 가격</span>
                <input id="minPrice" type="text" class="form-control" />
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">최대 가격</span>
                <input id="maxPrice" type="text" class="form-control" />
            </div>
            
            <button onclick="show_order()" type="button" class="btn btn-warning mybtn">
                조회하기
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">  </th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                </tr>
            </thead>
            <tbody id="product-list">

            </tbody>
        </table>
    </div>
</body>

</html>