# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    ## 1) git ignore에 등록된 application.yml 파일 생성해주기
    - name: make application.properties
      run: |
        cd ./src/main/resources
        touch ./application.properties
        echo "${{ secrets.APPLICATION.YML }}" > ./application.yml
      shell: bash

    ## 2) 스프링 프로젝트 jar 파일 빌드
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    ## 3) Docker Hub에 이미지 push 하기
    - name: Docker build
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker build -t hotdeal-cicd .
        docker tag hotdeal-cicd ${{ secrets.DOCKER_USERNAME }}/hotdeal-cicd:${GITHUB_SHA::7}
        docker push ${{ secrets.DOCKER_USERNAME }}/hotdeal-cicd:${GITHUB_SHA::7}

    ## 4) Docker Hub에 Push한 이미지를 리눅스 서버에 받아와서 run
    - name: Deploy
      uses: appleboy/ssh-action@master
      with:
        host: 54.180.71.246
        username: ubuntu
        key: ${{ secrets.PRIVATE_KEY }}
        envs: GITHUB_SHA
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/hotdeal-cicd:${GITHUB_SHA::7}
          docker tag ${{ secrets.DOCKER_USERNAME }}/hotdeal-cicd:${GITHUB_SHA::7} hotdeal-cicd
          docker stop server
          docker run -d --rm --name server -p 80:8080 hotdeal-cicd
